/****************************************
*                                       *
*           UNIVERSAL STYLES            *
*                                       *
****************************************/
html {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-image: url(../pictures/abstract-marble-texture-black-white-grey-background-handmade-technique.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1rem 2rem;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: black;
    margin: 0;
}

.spacing {
    margin: 2rem 2rem 1rem 2rem;
}

.nobullets {
    list-style: none;
    padding-right: 3rem;
}

.sidebyside {
    display: flex;
}

.iconstyle {
    font-size: 400%;
    color: #1E3050;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1079px) {
    h2 {
        text-align: center;
    }
}

/****************************************
*                                       *
*                HEADER                 *
*                                       *
****************************************/
header {
    margin-bottom: 1rem;
}

.logo {
    display: inline;
    margin: 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

nav {
    float: right;
    margin-top: .5rem;
}

nav ul li {
    list-style: none;
    padding-left: 2.5rem;
    font-size: 1.3rem;
    color: black;
}

.navlink {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.25);
    padding: 0.25rem 0.25rem;
    cursor: pointer;
}

.navlink:hover, .logo:hover {
    box-shadow: 0.5rem 0.5rem rgba(173, 216, 230, 0.5);
    border: 0.25rem solid #1E3050;
    border-style: ridge;
    border-radius: 10rem 1.5rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    
}

@media only screen and (max-width: 1079px) {
    .logo {
        display: block;
        text-align: center;
    }

    nav {
        float: none;
        margin-top: 1rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 0;
    }

    #project {
        margin: 1rem;
    }
}

/****************************************
*                                       *
*               ABOUT ME                *
*                                       *
****************************************/
.headshot {
    width: 23rem;
    float: right;
    border: 0.5rem solid #1E3050;
    border-radius: 10rem 1rem;
    border-style: ridge;
}

.textbox {
    display: inline-block;
    width: 58%;
    /* width: 28rem; */
    margin: 1rem 0 0.5rem 0;
}

@media only screen and (max-width: 1079px) {
    #aboutmesection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbox {
        text-align: center;
        margin-top: 2.2rem;
        width: 100%;
    }

    .aboutmeheader {
        margin-bottom: 1.3rem;
    }
}

/****************************************
*                                       *
*               PROJECTS                *
*                                       *
****************************************/
.projectstyle {
    list-style: square;
}

#project {
    width: 13rem;
}

.hidepic {
    position: absolute;
    bottom: 100rem;
    opacity: 0;
}

#project:hover .hidepic {
    left: 30%;
    top: 78%;
    animation-name: movein;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    opacity: 1;
}

@keyframes movein {
    from {left: 15%; opacity: 0;}
    to {left: 30%; opacity: 1;}
}

.screenshot {
    display: flex;
    margin: 2rem;
    box-shadow: 0.3rem 0.3rem rgba(173, 216, 230, 1);
    border: 0.5rem solid #1E3050;
    width: 80%;
    max-width: 35rem;
}

@media only screen and (max-width: 1079px) {
    #projectbox {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    #project {
        display: flex;
        text-align: center;
    }

    #project:hover .hidepic {
        display: none;
    }

    /* #project:hover .hidepic {
        left: 14rem;
        top: 24rem;
        animation-name: moveup;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        opacity: 1;
    }

    @keyframes moveup {
        from {top: 35rem; opacity: 0;}
        to {top: 24rem; opacity: 1;}
    } */

}
/*          Level Name Generator        */

#level-generator-section {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(173, 216, 230, 0.5);
    border: 0.5rem ridge rgba(30, 48, 80, 0.8);
    border-radius: 10rem 1rem;
}

.levelgenheader {
    text-decoration: underline;
    
}

.levelgenbutton {
    font-weight: bold;
}

.levelgenbutton:hover {
    box-shadow: 0 0.2rem 0.15rem rgba(30, 48, 80, 1);
}

#levelname {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #EBFFFF;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 45%;
    box-shadow: 0 0.2rem 0.25rem rgba(30, 48, 80, 0.5);
}

/* Project 2 */


/****************************************
*                                       *
*                SKILLS                 *
*                                       *
****************************************/
@media only screen and (max-width: 1079px) {
    .sidebyside {
        justify-content: center;
    }
}

/****************************************
*                                       *
*               CONTACT                 *
*                                       *
****************************************/
.iconstyle:hover {
    box-shadow: -0.3rem -0.3rem rgba(173, 216, 230, 1);
}

/****************************************
*                                       *
*                FOOTER                 *
*                                       *
****************************************/
.bgcredit {
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1079px) {
    .bgcredit {
        text-align: center;
    }
}