/****************************************
*                                       *
*           UNIVERSAL STYLES            *
*                                       *
****************************************/
html {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-image: url(../pictures/abstract-marble-texture-black-white-grey-background-handmade-technique.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1rem 2rem;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: black;
    margin: 0;
}

.spacing {
    margin: 2rem 2rem 1rem 2rem;
}

.nobullets {
    list-style: none;
    padding-right: 3rem;
}

.sidebyside {
    display: flex;
}

.iconstyle {
    font-size: 300%;
    color: #1E3050;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.25);
}

/****************************************
*                                       *
*                HEADER                 *
*                                       *
****************************************/
header {
    margin-bottom: 1rem;
}

.logo {
    display: inline;
    margin: 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.15);
}

nav {
    display: flex;
    float: right;
    margin-top: .5rem;
}

nav ul li {
    list-style: none;
    padding-left: 2.5rem;
    font-size: 1.3rem;
    color: black;
}

.navlink {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, 0.25);
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    
}
/****************************************
*                                       *
*               ABOUT ME                *
*                                       *
****************************************/
.headshot {
    width: 40%;
    height: auto;
    float: right;
}

.textbox {
    display: inline-block;
    width: 33rem;
    margin: 1rem 0 0.5rem 0;
}

/****************************************
*                                       *
*               PROJECTS                *
*                                       *
****************************************/
.projectstyle {
    list-style: square;
}

#level-generator-section {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(173, 216, 230, 0.5);
    border: 0.15rem dashed rgba(30, 48, 80, 0.5);
    border-radius: 10rem 1rem;
}

.levelgenheader {
    text-decoration: underline;
    
}

.levelgenbutton {
    
    font-weight: bold;
}

#levelname {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #EBFFFF;
    padding: 1rem;
    border-radius: 1rem;
}


/****************************************
*                                       *
*                SKILLS                 *
*                                       *
****************************************/


/****************************************
*                                       *
*               CONTACT                 *
*                                       *
****************************************/



/****************************************
*                                       *
*                FOOTER                 *
*                                       *
****************************************/
.bgcredit {
    margin-top: 2.5rem;
    
}